body{
  background: rgb(27, 21, 49);
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
  max-width: 670px;
  margin: 100px auto;
  padding: 20px;
  background: rgb(161, 137, 234);
  border: 1px solid rgb(148, 148, 148);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card .icon{
 width: 150px;
 height: 150px;
 border-radius: 50%;
}
.card .card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-title h2{
  margin: 0;
  font-size: 30px;
}

.card-text p{
  margin-top: 10px;
  font-size: 17px;
}